{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'feature-item-group'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_section_title|render %}
        <h2>{{ content.field_section_title }} </h2>
      {% endif %}
      
      <div class="group-wrapper">
        {{ content.field_child_pages }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
